<!DOCTYPE html>
<head>
  <%= stylesheet_link_tag "main" %>
</head>
<body>
  <div class='centered'>
    <header>
      <h2><%= @job.title %> at <%= link_to @job.company.name, company_path(@job.company) %></h2>
    </header>
    <% if !!@flag %>
        <%= link_to 'Edit', edit_company_job_path(@job.company, @job), :class => 'button' %>
        <%= link_to 'Delete', company_job_path(@job.company, @job), method: 'delete', :class => 'button' %>
    <% else %>
        <%= link_to 'Edit', edit_job_path(@job), :class => 'button' %>
        <%= link_to 'Delete', job_path(@job), method: 'delete', :class => 'button' %>
    <% end %>
    <p class='font'>See Other <%= link_to @job.title, companies_path %> Positions</p>
    <br>
    <br>
    <br>
    <div class='job-info'>
      Description: <%= @job.description %>
      <br>
      Interest: <%= '*'*@job.level_of_interest %>
      <br>
      City: <%= @job.city %>
    </div>

    <%= render partial: 'comments/form' %>
    <%= render partial: 'jobs/comment', collection: @job.comments.reverse %>
  </div>
</body>
