<%= form_for @company, html: {class: "job-form"} do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <%= link_to 'Cancel', companies_path, :class => 'button' %>
  <%= f.submit :class => 'button' %>
<% end %>
