<!DOCTYPE html>
<head>
  <%= stylesheet_link_tag "main" %>
</head>
<body>
  <header>
    <h2><strong>All Companies</strong></h2>
  </header>
  <p><%= link_to "Add Company", new_company_path, :class => 'button' %></p>
    <% @companies.each do |company| %>
    <ul class="font ul-pad company_<%= company.id %>"">
      <%= link_to "Edit", edit_company_path(company), :class => 'button' %>
      <%= link_to "Delete", company_path(company), method: "delete", :class => 'button' %>
      <%= link_to company.name, company_path(company) %>
    </ul>
    <% end %>
</body>
