<!DOCTYPE html>
<head>
  <%= stylesheet_link_tag "main" %>
</head>
<body>
  <div class='centered'>
    <header>
      <h2><strong><%= @company.name %></strong></h2>
    </header>
    <%= link_to 'Edit', edit_company_path(@company), :class => 'button' %>
    <%= link_to 'Delete', company_path(@company), method: 'delete', :class => 'button' %>
      <p class='font'><%= link_to "See Other Jobs at #{@company.name}", company_jobs_path(@company) %></p>
    <br>
    <br>
    <br>
    <%= render partial: "contacts/form" %>
    <h4>Existing Contacts</h4>
    <ul>
      <% @contacts.each do |contact| %>
        <li> <%= contact.name %> <%= contact.role %> <%= contact.email %></li>
      <% end %>
    </ul>
  </div>
</body>
