<!DOCTYPE html>
<head>
  <%= stylesheet_link_tag "main" %>
</head>
<body>
  <header>
    <h2><strong>Job Categories</strong></h2>
  </header>
  <p><%= link_to "Add Category", new_category_path, :class => 'button' %></p>
  <% @categories.each do |category| %>
    <ul class="font ul-pad category_<%= category.id %>">
      <%= link_to "Edit", edit_category_path(category), :class => 'button' %>
      <%= link_to "Delete", category_path(category), method: "delete", :class => 'button' %>
      <%= category.title %> - 
      <%= link_to "#{category.jobs.count} jobs", "/jobs/?category=#{category.title}"%>
    </ul>
  <% end %>
</body>
